body,html {
    height: 100%;
    overflow-y: hidden;
}

#chat-container {
    margin: 0;
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-message {
  padding: 6px;
  border-radius: 3px;
  margin-bottom: 3px;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.bot-message {
    background: purple;
    color: white;
    margin-left: 53%;
}

.human-message {
    background: dodgerblue;
    color: white;
    margin: 13px 1px;
}

.input {
  width: 100%;
  margin: 35px 0px;
  height: 60px;
  border: 1px solid rosybrown;
  border-radius: 3px;
}

#bot_img {
  border-radius: 50%;
    vertical-align: bottom;
}

p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 30px;
    line-height: 24px; margin: 0 0 24px; text-align: center;
    text-justify: inter-word;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}